text-outline(thickness, blur, color)
  negative = 0 - thickness
  text-shadow:
    thickness thickness blur color,
    negative negative blur color,
    thickness negative blur color,
    negative thickness blur color,
    0px thickness blur color,
    thickness 0px blur color,
    0px negative blur color,
    negative 0px blur color,
    @text-shadow
