@import _variables
@import _mixins

html, body, #controls *
  background black
  color: white
  font-family 'Squada One', monospace
  text-align center
  width 100%

#controls *
  font-size 20px
  display inline-block
  margin-right 20px

video#player
  width 100%
  z-index 1

video#minutes
  position absolute
  top 140px
  left 240px
  height 500px

  z-index 2147483647

video#minutes.video-60, video#minutes.video-100
  left 0
  width 100%
  height auto

#counter
  margin auto
  position absolute
  top 0; left 0; bottom 0; right 0
  display table
  width 100%

  text-align center
  font-size 300px
  color $blue

  text-shadow 7px 7px 12px $blue
  text-outline 5px 0 white

  z-index 2147483647
